* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Aref Ruqaa', serif;
}
#container {
	height: 100vh;
	padding: 0;
}

.navbar img {
	height: auto;
	border-radius: 6rem;
	padding: 0;
	box-shadow: 0 0 2rem #fff;
	max-width: 100px;
}

#nav {
	background-color: rgba(16, 70, 177, 0.80);
	margin: 0;
	width:100%;
}
#nav button	{
	margin-left: 2px;
	box-shadow: 0 0 2rem #fff;
}

.nav-item a {
	color: white;
}

.nav-item:hover {
	background-color: #0412d7;
	border-radius: 10px 60px;
	color: #fff;

}

.btn:hover {
	background-color: #0412d7;
}


/*end of navbar*/

#land-page {
	background-image: url(../../assets/images/bg5.jpeg);
	background-size: 100% 100%;
	height: 100%;
	padding:0;
}

#ftext i {
	width: 80vh;
}

#ftext h4{
		text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
		color: white;
		letter-spacing: 3px;

}#ftext h1{
		text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
		color: white;
		font-size: 50px;
		letter-spacing: 3px;
}

#ftext {
	width: 80%;
	padding-top: 140px;
	height:100%;

}
#local {
	border-style: dotted;
	border-color: white;
	border-radius: 2rem 5rem;
	color: white;
	padding: 5px;
	width: 100%;
	margin: 0 auto;
}
#lbtn a{
	color: white;
	text-shadow: 2px 1px 3px black, 0 0 25px yellow, 0 0 5px darkblue;
}

#lbtn btn {
		background-color: rgba(36, 38, 56, 0.86);
}

/*end of landing page*/


#home-landing{
	padding:0;
	height: 90vh;
}

#land {
	background-image: url(../../assets/images/bg.jpeg);
	background-size: 100% 100%;
	color: #fff;
	width: 100%;
	height: 100%;
/*	padding: 20rem;*/
	z-index: -5;
}

#land h1 {
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	font-size: 2.5em;
}

.carousel-item img {
	height: 400px;
	margin-top: 2.3em;
}

#carousel-home {
/*	border:5px solid black;*/
	width: 90%;
	margin: 0 auto;
	padding: 0;
	margin-top: -28em;
	max-width: 90%;
}
#imgf {
	background-image: url(../../assets/images/bg1.jpeg);
	background-size: 100% 100%;
	height: 100%;
}

#wlphoto {
	height: 100px;
}

#home-btn a {
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px skyblue;
}
#home-btn a:hover {
	font-weight: bolder;
}

/*end home landing*/
.footer {
	background-color: rgba(16, 70, 177, 0.50);
	border: 1px dotted #0412d7;
/*	position: absolute;
	width: 100%*/
}

.footer p{
	color: #fff;
}
/*end fo footer*/

#jumbotron-about {
	background-image: url(../../assets/images/bg4.jpeg);
	background-size: 100% 100%;
	height: 90vh;
	border-radius: 0;
	margin: 0;
}

#landing-about {
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.about-tags {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
#mission {
	height: 100%;
	background-color: #141414;
	color: #f2f2f2;
}

#vision {
	height: 100%;
	background-color:#f2f2f2; 
	color: #141414;
}

/*end of about us*/

#head-gall {
	background-color: #141414;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	max-width: 100%;
	padding: 15px;
}
#head-con {
	padding: 0;
	max-height: 20%;
}

#jumbotron-events {
	height: 100vh;
	margin: 0
}

#yr2007 {
	padding: 5px;
}

/*div .card{
	height: 350px;
}*/
/*end of events page*/
