* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Aref Ruqaa', serif;
/*	text-shadow: 1px 1px 2px black;
	color: white;*/
}

/*nav bar styling*/
.navbar img {
	height: auto;
	border-radius: 6rem;
	padding: 0;
	box-shadow: 0 0 2rem #fff;
	width: 20vw;
}

#nav {
	background-color: rgba(87, 134, 255, 0.57);
	margin: 0;
	width:100%;
}
#nav button	{
	margin-left: 2px;
	box-shadow: 0 0 2rem #fff;
}

.nav-item a {
	color: darkblue;
}
.nav-item a:hover {
	background-color: #0412d7;
	border-radius: 10px 60px;
	font-weight: bolder;
	color: white;
}


/*end of navbar*/

/*landing page styling*/
#land-con {
	height: 100%;
	padding: 0;
}

#land-page {
	background-image: url(../../assets/images/bg5.jpeg);
	background-size: 100% 100%;
	height: 100vh;
	max-height: 100%;
	padding:0;
	margin: 0 auto;
}
#ftext {
	width: 100%;
	height: 100%;

}

#ptext {
	color: white;
	text-shadow: 2px 1px 3px black, 0 0 25px blue, 0 0 5px darkblue;
	letter-spacing: 2px;
}
#land-row {
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	color: white;
}	

#ftext h1{
		text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
		color: white;
		font-size: 6vw;
		letter-spacing: 2px;
		padding-top: 1em;
}
#lbtn a{
	color: white;
	text-shadow: 2px 1px 3px black, 0 0 25px yellow, 0 0 5px darkblue;
}

#lbtn .btn {
	background-color: rgba(36, 38, 56, 0.86);
}

#lbtn .btn:hover {
	background-color: rgba(86, 151, 220, 1);
	color: rgba(0, 38, 133, 1);
}

#land-row {
	padding: 25px 0 25px 0;
	background-blend-mode: luminosity;
}

#col1	{
	border-right: 2px solid darkblue;
}
/*schedule calendar*/
.month {
    padding: 70px 25px;
    width: 100%;
    background: rgba(6, 12, 188, 0.85);
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: rgba(6, 12, 188, 0.85);
    color: white !important
}
/*end of calendar*/

/*end of landing page*/

/*home landing page*/

#homep1 {
	background-image: url(../../assets/images/bg.jpeg);
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	padding: 0;
}
#home-row {
	padding-top: 6em;
	padding-bottom: 5em;
	margin: 0;
	width: 100vw;

}

#home-wel {
	margin-top: 5em;
}
#home-alert {
	width: 500px;
}

#home-vid {
	width: 500px;
	height: 360px;
	margin:0 auto;
}

#home-vid video {
	width: 540px;
	height: 400px;
}

#imgf {
	background-image: url(../../assets/images/bg1.jpeg);
	background-size: 100% 100%;
	height: 100%;
	padding-bottom: 5em;
}
.home-cl {
	height: 100%;
	overflow: hidden;
	text-overflow:ellipsis;

}

#imgf .row{
	padding: 2em;
}
/*end home landing*/
.footer {
	background-color: rgba(16, 70, 177, 0.50);
	height: 80px;
}

.footer p{
	color: #fff;
}

.f-icon {
	width: 30px;
	height: 30px;
	padding: 1px;
	background-color: blue;
	border-radius: 20px;

}
/*end fo footer*/

#jumbotron-about {
	background-image: url(../../assets/images/bg4.jpeg);
	background-size: 100% 100%;
	height: 90vh;
	border-radius: 0;
	margin: 0;
}

#jumbotron-about img{
	width: 200px;
	margin: 0 auto;
}

#landing-about {
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.about-tags {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
#mission {
	height: 100%;
	background-color: rgba(0, 11, 138, 1);
	color: #f2f2f2;
}

#team{
	height: 100%;
	background-color: rgba(0, 11, 138, 1);
	color: #f2f2f2;
}

#profile{
	height: 100%;
	background-color: rgba(0, 11, 138, 1);
	color: #f2f2f2;
}

#head-gall {
	background-color: rgba(5, 11, 168, 0.55);
	color: #f2f2f2;
/*	text-transform: uppercase;*/
	letter-spacing: 0.5em;
	max-width: 100%;
	padding: 15px;
	border-radius: 50px 150px;
}
#head-con {
	padding-top: 5em;
	height: 100vh;
}

#yr2007 {
	padding: 5px;
}

#e-pic{
	height: 50%;
}
/*end of about*/

/*start of event styling*/
#jumbotron-events {
/*	background-image: url(../../assets/images/bg6.jpeg);
	background-size: 100% 100%;*/
	background-color: rgba(0, 11, 128, 1);
	height: 100%;
	border-radius: 0;
	margin: 0;
}
#landing-events {
	color: white;
}

#gal-pills a{
	color: white;
}

#events-row {
	height: 50%;
}
#slide1 {
	padding-top: 55px;
	height: 500px;
}

#slide1 img {
	height: 400px;
	width: 700px;
	padding-top: 2em;
	padding-left: 1em;
}

#head-con {
	height: 80vh;
}
/*end of events styling*/


/*contact us*/
#contact-page {
	background-color:rgba(12, 0, 117, 1);
	color: white;
	height: 100vh;
	padding: 0;
}

#s-icon {
	width: 90px;
	height: 90px;
	border: 1px solid darkblue;
	padding: 5px;
	border-radius: 20px;
}
.reach {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 5vw;
}
#home-row {
	padding: 0;
}
#email-form {
	padding: 15px;
	border-top: 0;
	border-bottom: 0;
	border-left:10px;
	border-right: 10px;
	border-color: white;
	border-style: double;
}


/*end of contact us*/


/*mobile view*/
@media only screen and (max-width: 450px) {
/*landing page*/
	#land-row i{
	font-size: 5vw;

	}

	#land-row h4,p {
	font-size: 3vw;
	}

	#ptext {
	font-size: 3.5vw;
	}

	#ftext h1{
	font-size: 10vw;
	}
/*home-page*/

	video {
		width: 100%;
		height: auto;
	}
	#homep1 {
		width: 100vw;
	}

	#nav img {
		width: 50vw;
	}
	.list-group-item {
		font-size: 4vw;
	}
	h3{
		font-size: 5vw;
	}
	#imgf .row {
		padding: 5px;
		margin: 0;
	}

	.footer {
		width: auto;
	}
	
	#home-alert {
		display: none;
	}
/*about page*/
	#jumbotron-about h1{
		font-size: 15vw;
	}

	#contact-page {
	height: 100%;
	}

	/*contact us*/
	#email-form {
	padding: 15px;
	border-right: 0;
	border-left: 0;
	border-bottom:10px;
	border-top: : 10px;
	border-color: white;
	border-style: double;
	}
	#jumbotron-events {
	height: 100%;
	}
	#home-vid {
	padding-top: 2em;
	width: 260px;
	height: 200px;
	margin:0 auto;
	}

#home-vid video {
	padding-top: 2em;
	padding-bottom: 2em;
	width: 260px;
	height: 200px;
	}


#jumbotron-events {
		height: 100%;
	}
#slide1 {
		display: none;
	}

#head-con{
	margin-top:10px;
	background-color: rgba(0, 19, 224, 0.84);
	height: 100%;
	}

#landing-events {
	padding-top: 1em;
	font-size: 10vw;	
	}
#head-gall {
	font-size: 1vw;
	}
#head-con {
	padding-bottom: 2em;
	margin-bottom: 5em;
	}
#home-wel {
	margin-top: 1em;
	}
}

/*tablet view*/
@media only screen and (min-width: 451px) and (max-width: 768px){
	/*home-page*/
	#nav {
		position: normal;
	}
	video {
		width: 100%;
		height: auto;
	}
	#home-row {
		width: 100%;
		height: 100%;
	}
	.row {
		padding:1em;
	}

	#nav img {
		width: 40vw;
	}
	.list-group-item {
		font-size: 1.5vw;
	}
	h3{
		font-size: 3vw;
	}
	h5{
		font-size: 3vw;
		padding: 0;
		margin: 0;
	}
	#contact-page {
	height: 100%;
	}
	#email-form {
	padding: 15px;
	border-top: 0;
	border-bottom: 0;
	border-left:10px;
	border-right: 10px;
	border-color: white;
	border-style: double;
	}
.navbar img {
		width: 5vw;
	}
#home-vid {
	padding-top: 2em;
	width: 360px;
	height: 300px;
	margin:0 auto;
	}

#home-vid video {
	padding-top: 2em;
	padding-bottom: 2em;
	width: 360px;
	height: 300px;
	}
#home-wel {
	margin-left: 60px;
	font-size: 1.5vw;
	}
#home-alert {
	font-size: 1.5vw;
	width: 360px;
	}
#landing-events {
	font-size: 5vw;
	}
#slide1 {
	height: 200px;
	}
}