* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Aref Ruqaa', serif;
/*	text-shadow: 1px 1px 2px black;
	color: white;*/
}

/*nav bar styling*/
.navbar img {
	height: auto;
	border-radius: 6rem;
	padding: 0;
	box-shadow: 0 0 2rem #fff;
	width: 20vw;
}

#nav {
	background-color: rgba(87, 134, 255, 0.57);
	margin: 0;
	width:100%;
}
#nav button	{
	margin-left: 2px;
	box-shadow: 0 0 2rem #fff;
}

.nav-item a {
	color: darkblue;
}
.nav-item a:hover {
	background-color: #0412d7;
	border-radius: 10px 60px;
	font-weight: bolder;
	color: white;
}


/*end of navbar*/

/*landing page styling*/
#land-con {
	height: 100%;
	padding: 0;
}

#land-page {
	background-image: url(../../assets/images/bg5.jpeg);
	background-size: 100% 100%;
	height: 100vh;
	max-height: 100%;
	padding:0;
	margin: 0 auto;
}
#ftext {
	width: 100%;
	height: 100%;

}

#ptext {
	color: white;
	text-shadow: 2px 1px 3px black, 0 0 25px blue, 0 0 5px darkblue;
	letter-spacing: 2px;
}
#land-row {
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	color: white;
}	

#ftext h1{
		text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
		color: white;
		font-size: 6vw;
		letter-spacing: 2px;
		padding-top: 1em;
}
#lbtn a{
	color: white;
	text-shadow: 2px 1px 3px black, 0 0 25px yellow, 0 0 5px darkblue;
}

#lbtn .btn {
	background-color: rgba(36, 38, 56, 0.86);
}

#lbtn .btn:hover {
	background-color: rgba(86, 151, 220, 1);
	color: rgba(0, 38, 133, 1);
}

#land-row {
	padding: 25px 0 25px 0;
	background-blend-mode: luminosity;
}

#col1	{
	border-right: 2px solid darkblue;
}
/*schedule calendar*/
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}
/*end of calendar*/

/*end of landing page*/

/*home landing page*/
#home-landing{
	padding:0;
	height: 90vh;
}

#land {
	background-image: url(../../assets/images/bg.jpeg);
	background-size: 100% 100%;
	color: #fff;
	width: 100%;
	height: 100%;
}

#land h1 {
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	font-size: 2.5em;
}
#homep1 {
	background-image: url(../../assets/images/bg.jpeg);
	background-size: 100% 100%;
	height: 100%;
}

#imgf {
	background-image: url(../../assets/images/bg1.jpeg);
	background-size: 100% 100%;
	height: 100%;
}
.home-cl {
	height: 100%;
	overflow: hidden;
	text-overflow:ellipsis;

}
#bcktp {

}

#imgf .row{
	padding: 2em;
}
.carousel-inner{
	margin-right: 60em;
}


/*.carousel-item img {
	height: 400px;
	margin-top: 2.3em;
}

#carousel-home {
	width: 90%;
	margin: 0 auto;
	padding: 0;
	margin-top: -28em;
	max-width: 90%;
}


#wlphoto {
	height: 100px;
}



/*end home landing*/
.footer {
	background-color: rgba(16, 70, 177, 0.50);
	border: 1px dotted #0412d7;
}

.footer p{
	color: #fff;
}
/*end fo footer*/

#jumbotron-about {
	background-image: url(../../assets/images/bg4.jpeg);
	background-size: 100% 100%;
	height: 90vh;
	border-radius: 0;
	margin: 0;
}

#jumbotron-about img{
	width: 200px;
	margin: 0 auto;
}

#landing-about {
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.about-tags {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
#mission {
	height: 100%;
	background-color: #141414;
	color: #f2f2f2;
}

#vision {
	height: 100%;
	background-color:#f2f2f2; 
	color: #141414;
}

/*end of about us*/

#head-gall {
	background-color: #141414;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	max-width: 100%;
	padding: 15px;
}
#head-con {
	padding: 0;
	max-height: 20%;
}

#jumbotron-events {
	height: 100vh;
	margin: 0
}

#yr2007 {
	padding: 5px;
}

#e-pic{
	height: 50%;
}


/*end of about*/

/*mobile view*/
@media only screen and (max-width: 450px) {
/*landing page*/
	#land-row i{
	font-size: 5vw;

	}

	#land-row h4,p {
	font-size: 3vw;
	}

	#ptext {
	font-size: 3.5vw;
	}

	#ftext h1{
	font-size: 10vw;
	}
/*home-page*/

	#nav img {
		width: 50vw;
	}
	.list-group-item {
		font-size: 4vw;
	}
	h3{
		font-size: 5vw;
	}
	#imgf .row {
		padding: 5px;
		margin: 0;
	}

}


/*tablet view*/
@media only screen and (min-width: 451px) and (max-width: 768px){
	/*home-page*/

	#nav img {
		width: 40vw;
	}
	.list-group-item {
		font-size: 1.5vw;
	}
	h3{
		font-size: 3vw;
	}
	h5{
		font-size: 3vw;
		padding: 0;
		margin: 0;
	}

}